:host {
    display: block;
    height: 100px;
    width: 100%;
}

.container {
    @apply bg-slate-700;
}

.container .progress,
.container .progress.blue, {
    @apply bg-blue-500;
}

.container > .progress.yellow {
    @apply bg-yellow-500;
}
