<div>
    <h1 class="my-8 font-fantasque-sans-mono italic font-bold text-6xl text-center text-yellow-400"
        style="text-shadow: black 1px 2px 2px;">NgxPeanutClicker</h1>
</div>

<div>
    <app-status-panel class="flex mx-4 items-center justify-between bg-black text-yellow-400 lg:rounded shadow-md p-4 lg:gap-8"></app-status-panel>
</div>

<div>
    <app-task-queue class="block h-80 m-4 bg-yellow-100 rounded border-4 border-black shadow-md p-4 overflow-auto"></app-task-queue>
</div>

<div>
    <app-buttons-bar class="flex place-content-center gap-4"></app-buttons-bar>
</div>
