<h1 class="m-8 font-fantasque-sans-mono italic font-bold text-6xl text-center text-yellow-400"
    style="text-shadow: black 1px 2px 2px;">NgxPeanutClicker</h1>

<div>
    <app-status-panel class="m-8 flex items-center justify-between bg-black text-yellow-400 rounded shadow-md p-4 lg:gap-8"></app-status-panel>
</div>

<div class="m-8 bg-yellow-100 rounded border-4 border-black shadow-md p-4">
    <app-task-queue class="block w-full h-80 overflow-auto"></app-task-queue>
</div>

<div class="mt-8 flex place-content-center gap-4">
    <app-buttons-bar></app-buttons-bar>
</div>
