<h1 class="m-8 font-fantasque-sans-mono italic font-bold text-6xl text-center text-yellow-400" style="text-shadow: black 1px 2px 2px;">NgxPeanutClicker</h1>

<div class="m-8 h-28 flex justify-between bg-black text-yellow-400 rounded shadow-md p-4 lg:gap-8">
    <div class="flex gap-4">
        <div class="flex items-baseline gap-4">
            <img src="assets/peanut2.png" alt="peanut" class="w-12">
            <span class="text-4xl text-bold">{{ peanutStock$ | async }}</span>
        </div>
        <div class="flex items-baseline gap-4">
            <img [src]="moneySpritePath$ | async | trustedResourceUrl" alt="peanut" class="w-12">
            <span class="text-2xl">{{ totalMoney$ | async | currency }}</span>
        </div>
    </div>
    <div class="flex items-center justify-between gap-4">
        <p class="capitalize italic text-2xl">Time is {{ clockState$ | async }}</p>
        <button class="text-4xl" (click)="toggleClockState()">{{ clockStateIcon$ | async }}</button>
    </div>
</div>

<div class="m-8 bg-yellow-100 rounded border-4 border-black shadow-md p-4">
    <app-tasks class="block w-full h-80 overflow-auto"></app-tasks>
</div>

<div class="mt-8 flex place-content-center gap-4">
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2 duration-150 hover:scale-105 hover:bg-yellow-600 active:bg-black active:text-yellow-500 active:border-yellow-500"
        (click)="sellPeanut()">Sell A Peanut!</button>
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2 duration-150 hover:scale-105 hover:bg-yellow-600 active:bg-black active:text-yellow-500 active:border-yellow-500"
        (click)="sellBagOfPeanuts()">Sell A Bag of Peanuts?</button>
</div>
