<h1 class="text-center text-white">NgxPeanutClicker</h1>

<div class="mt-8 mx-auto flex w-48 items-center justify-between gap-4 bg-yellow-100 rounded border-4 border-black shadow-md p-4">
    <p class="capitalize">{{ clockState$ | async }}</p>
    <button class="text-2xl"
        (click)="toggleClockState()">{{ clockStateIcon$ | async }}</button>
</div>

<div class="m-8 flex gap-4 lg:gap-8 justify-center w-screen">
    <div class="w-96 max-h-96 bg-black text-yellow-400 rounded shadow-md p-4">
        <div class="flex items-baseline gap-4">
            <img src="assets/peanut2.png" alt="peanut" class="w-12">
            <span class="text-4xl text-bold">{{ peanutStock$ | async }}</span>
        </div>
        <div class="flex items-baseline gap-4">
            <img [src]="moneySpritePath$ | async | trustedResourceUrl" alt="peanut" class="w-12">
            <span class="text-2xl">{{ totalMoney$ | async | currency }}</span>
        </div>
    </div>

    <app-tasks></app-tasks>
</div>

<div class="mt-8 flex place-content-center gap-4">
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2 duration-150 hover:scale-105 hover:bg-yellow-600 active:bg-black active:text-yellow-500 active:border-yellow-500"
        (click)="sellPeanut()">Sell A Peanut!</button>
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2 duration-150 hover:scale-105 hover:bg-yellow-600 active:bg-black active:text-yellow-500 active:border-yellow-500"
        (click)="sellBagOfPeanuts()">Sell A Bag of Peanuts?</button>
</div>
