<h1 class="text-center text-white">NgxPeanutClicker</h1>

<div class="m-8 max-w-sm bg-black text-yellow-400 rounded shadow-md p-4">
    <div class="flex items-baseline gap-4">
        <img src="assets/peanut2.png" alt="peanut" class="w-12">
        <span class="text-4xl text-bold">{{ totalPeanutsSold$ | async }}</span>
    </div>
    <div class="flex items-baseline gap-4">
        <img src="assets/money0.png" alt="peanut" class="w-12">
        <span class="text-2xl">{{ totalMoney$ | async | currency }}</span>
    </div>
</div>

<div class="mt-8 flex place-content-center gap-4">
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2"
        (click)="sellPeanut()">Sell A Peanut!</button>
    <button class="bg-yellow-500 text-black rounded-md border-4 border-black p-2"
        (click)="sellBagOfPeanuts()">Sell A Bag of Peanuts?</button>
</div>
