<div class="flex flex-wrap gap-4">
    <div class="flex items-center gap-2">
        <img src="assets/peanut2.png" alt="peanut" class="w-12">
        <span class="text-4xl text-bold">{{ peanutStock$ | async }}</span>
    </div>
    <div class="flex items-center gap-4">
        <img [src]="moneySpritePath$ | async | trustedResourceUrl" alt="peanut" class="w-12">
        <span class="text-4xl">{{ totalMoney$ | async | currency }}</span>
    </div>
</div>
<div class="flex flex-col justify-center text-center gap-2">
    <p class="capitalize text order-2">Time is {{ clockState$ | async }}</p>
    <button class="text-4xl" (click)="toggleClockState()">{{ clockStateIcon$ | async }}</button>
</div>
